<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js ")" type="text/java script"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript "></script>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Неанонимные голосования</h1>
</div>



<div class="row">

    <div class="col-md-4">
        <h2>Часть 1</h2>
        <p>Введите ваше имя.</p>
        @using (Ajax.BeginForm("HelloMessage", new AjaxOptions { UpdateTargetId = "result1" }))
        {
            <input type="text" name="UserName" />
            <input type="submit" value="Ввести" />
        }
        <div id="result1"></div>
    </div>

    <div class="col-md-4">
        <h2>Часть 2</h2>
        <p>Вы отдаете свой голос за В.В.Путина?</p>
        @using (Ajax.BeginForm("VoteResult", new AjaxOptions { UpdateTargetId = "result2" }))
        {
            <input type="submit" value="Да" />
            <input type="submit" value="Нет" />
        }
        <div id="result2"></div>
    </div>
</div>
